.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox{
    max-width: 440px;
}
.contentBox h1{
    font-size: 64px;
    line-height: 60%;
}
.contentBox h1:nth-child(2){
    color: var(--black);    
}
.contentBox h1:nth-child(3){
    color: var(--some-orange);    
}

.differentColor span:nth-child(1){
    color: var(--purple);
}
.differentColor span:nth-child(2){
    color: var(--pink);
}
.differentColor span:nth-child(3){
    color: var(--orange);
}
.differentColor span:nth-child(4){
    color: var(--some-orange);
}
.differentColor span:nth-child(5){
    color: var(--yellow);
}
.differentColor span:nth-child(6){
    color: var(--green);
}

.contentBox p{
    margin-top: 33px;
}

.iconBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 360px;
}
.iconBox a{
    color: var(--grey);
    margin: 10px 0;
    font-size: 36px;
}