/* Nav */
.nav{
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    align-items: center;
    padding: 0 20px 0 60px;
    position: fixed;
    z-index: 10;
    transition: var(--duration);
}
.nav *{
    transition: var(--duration);
    user-select: none;
}

/* Image Box */
.imgBox{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    overflow: hidden;
}
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Content */
.content{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-evenly;
    height: 100%;
    box-sizing: border-box;
    padding-left: 28px;
}

/* Icons */
.icons{
    width: 192px;
    height: 19px;
    margin-bottom: -60px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}
.icons *:hover{
    color: var(--black);
}
.icons a{
    margin: 0 5px;
}
.icons a:first-child{
    margin-left: -2px;
}
.icons svg{
    color: var(--grey);
    cursor: pointer;
}

/* Items */
.items{
    display: flex;
    justify-content: flex-end;
}
.items svg{
    min-width: 20px;
    min-height: 20px;
    margin: 0 39px;
    cursor: pointer;
    font-size: 20px;
}
.animation{
    transform: rotateZ(180deg);
}
.ul{
    list-style: none;
    overflow: hidden;
    max-width: 550px;
    height: 20px;
    white-space: nowrap;
}
.ul li{
    display: inline-block;
    padding: 0 35px;
}
.ul a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

/* Context */
.context{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    right: 20px;
    box-sizing: border-box;
    width: 100px;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.active{
    height: 100px;
    padding: 10px;
}
.context ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.context li{
    color: var(--light-grey);
    margin: 5px 0;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
}

    /* Type */
.small, .medium{
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 1px 3px);
    cursor: move;
}
.small:active, .medium:active{
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px);
}
/* --Large-- */
.large{
    bottom: 0!important;
    right: 0!important;
}

/* --Medium-- */
.medium{
    width: 543px;
    right: 20px;
    border-radius: 5px;
    padding: 0;
}
.medium .imgBox{
    margin-left: 12px;
    cursor: inherit;
}
.medium .icons{
    margin-bottom: 0px;
}
.medium .items{
    padding-bottom: 30px;
}
.medium .ul{
    max-width: 330px;
}
.medium .ul li{
    padding: 0;
    padding-right: 30px;
}
.medium .context{
    right: 0;
}

/* --Small-- */
.small{
    width: 100px;
    right: 20px;
    border-radius: 5px;
    padding: 0;
}
.small .imgBox{
    width: 0;
    margin: 0;
}
.small .content{
    padding: 0;
}
.small .icons{
    width: 0;
    margin-bottom: 0px;
}
.small .items{
    padding-bottom: 30px;
}
.small .items svg{
    margin-bottom: -10px;
}
.small .ul{
    max-width: 0;
}
.small .ul li{
    padding: 0;
}
.small .context{
    right: 0;
}


    /* Color */
/* Code */
.code{
    background-color: var(--card);
}
.code .context{
    background-color: var(--card);
}
.code .context .selected{
    color: var(--black);
}
.code .items svg{
    color: var(--black);
}
.code .ul a{
    color: var(--black);
}


/* Design */
.design{
    background-color: var(--light-purple);
}
.design .context{
    background-color: var(--light-purple);
}
.design .items svg{
    color: var(--purple);
}
.design .context .selected{
    color: var(--purple);
}
.design .ul li:nth-child(1) a{
    color: var(--purple);
}
.design .ul li:nth-child(2) a{
    color: var(--pink);
}
.design .ul li:nth-child(3) a{
    color: var(--orange);
}
.design .ul li:nth-child(4) a{
    color: var(--some-orange);
}

/* Music */
.music{
    background-color: var(--light-some-orange);
}
.music .context{
    background-color: var(--light-some-orange);
}
.music .context .selected{
    color: var(--some-orange);
}
.music .items svg{
    color: var(--some-orange);
}
.music .ul a{
    color: var(--some-orange);
}